<div class="form-group">
    <select (click)="onChangeSujet($event.target.value)" class="form-control">
        <optgroup *ngFor="let optSujet of sujets" label="{{optSujet.nom}}">
            <option *ngFor="let sujet of optSujet.values" [value]="sujet.id">
                {{ sujet.nom }}
            </option>
        </optgroup>
    </select>
</div>
<chart [options]="options" (load)="saveChart($event.context)"></chart>
