<div class="row">
  <div class="col-sm-12">

    <h2>Liste des utilisateurs :</h2>
    <div class="utilisateurs">
      <a *ngFor="let utilisateur of utilisateurs"
         [routerLink]="['/admin/overview/utilisateur/edit', utilisateur.id]">
        <div>
          <b>@{{ utilisateur.identifiant }}</b> {{ utilisateur.prenom }} {{ utilisateur.nom }}
        </div>
        <div>
          {{ utilisateur.email }}
        </div>
      </a>
    </div>
    <a [routerLink]="['/admin/overview/utilisateur/new']" class="btn btn-default">Créer un utilisateur</a>

  </div>
</div>