<h2>Groupes auquel il appartient</h2>

<ul>
  <li *ngFor="let groupe of groupesPossible">
    {{ groupe.nom }}
    <input type="checkbox" name="groupe" [(ngModel)]="groupe.selected" (change)="changeGroupe(groupe)" [value]="groupe.id">
  </li>
</ul>