<h1>Type de travail</h1>
<form (ngSubmit)="onSubmit()" #projetForm="ngForm">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" [ngModel]="model?.nom" (ngModelChange)="model.nom=$event" name="nom" required>
  </div>
  <div class="form-group">
    <label for="setByDefault">Activé par défaut à la création d'un nouveau sujet</label>
    <input id="setByDefault" [checked]="setByDefault" (change)="setByDefault = !setByDefault"  type="checkbox"/>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!projetForm.form.valid">Modifier</button>
</form>
