<div class="row">
    <div class="col-sm-12">
        <h3>Temps enregistré pour la caractéristique
            <select [(ngModel)]="selectedCaracteristique" (change)="onChangeCaracteristique()" class="form-control form-inline">
                <option *ngFor="let caracteristique of caracteristiques" [ngValue]="caracteristique">
                    {{ caracteristique.nom }}
                </option>
            </select>
        </h3>
    </div>
    <div class="col-sm-12">
        <app-table [table]="table" [showTotal]="true" [reverseDisplay]="true"></app-table>
    </div>
</div>