a{
  padding:20px;
  display: block;
}

img{
  vertical-align: middle;
  width: 25px;
}

a {
  text-decoration: none;
  color: #aaa;
}

.active{
  background-color: #3b303c;
}

a:active, a:focus
{
  outline:none;
  border: 0;
}