$header-height: 100px;
$day-size: 41px;

.datepicker{
  width:auto;
  box-shadow: 0px 14px 45px rgba(0, 0, 0, 0.25), 0px 10px 18px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  }
.datepicker__header{
  background-color: #0097a7;
  color: #fff;
  padding: 20px;
  height: 100px;
}

.datepicker__year{
  opacity:0.7;
  margin-bottom: 10px;
  line-height: 16px;
}

.datepicker__date{
  font-size: 30px;
  line-height: 30px;
}

.datepicker__week{
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  line-height: 12px;
  color: rgba(0,0,0,0.8);
  padding: 0 14px;
}

.datepicker__weekday{
  float: left;
  width : $day-size;
  text-align: center;
}

.datepicker__days{
  display: flex;
  flex-wrap: wrap;
  margin: 14px;
  position: relative;
}

.datepicker__day {
  width: percentage(1/7);
  height:percentage(1/7) ;
  line-height:$day-size;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: color 450ms cubic-bezier(0.23,1,0.32,1) 8ms;
}
.datepicker__day:hover{
  color:#fff;
  .datepicker__day__effect{
    transform: scale(1);
      opacity: 0.6;
  }
}

.datepicker__day.selected{
  color:#fff;
  .datepicker__day__effect{
    transform: scale(1);
    opacity:1;
  }
}

.datepicker__day__effect{
  position: absolute;
  width:36px;
  height:36px;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  margin:auto;
  border-radius: 50%;
  background-color: rgb(0,151,167);
  transition: all 450ms cubic-bezier(0.23,1,0.32,1) 8ms;
  transform: scale(0);
  opacity: 0;
}

.datepicker__day__text{
  position: relative;
}

.datepicker__controls{
  height: 56px;
  line-height:56px;
  text-align: center;
  position: relative;

  button{
    position: relative;
    height: 56px;
    width: 56px;
    border: none;
    background-color: transparent;
    user-select: none;
    outline: none;
    cursor: pointer;
  }

  svg{
    height: 24px;
    width: 24px;
    fill: rgba(0,0,0,0.87);
    vertical-align: middle;
  }
}
.datepicker__month{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}
.datepicker_next{
  float: right;
}

.datepicker_prev{
  float: left;
}

