<div class="row" [ngClass]="{ 'disableClick' : disable }">
    <div class="col-sm-12 title">
        Enregistrement qualifiable
    </div>
    <div class="col-sm-12" style="padding-bottom: 10px;">
        <enregistrement-buttons [allowPlay]="allowPlay" [allowStop]="allowStop" (isRecording)="startOrStopEnregistrement($event)"></enregistrement-buttons>
    </div>
</div>

<div *ngIf="showModal" class="modal show" id="confirm-enregistrement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Fin de l'enregistrement</h4>
            </div>

            <div class="modal-body">
                <p>Merci de préciser le type d'enregistrement effectué</p>
                <enregistrement-qualification
                        [enregistrementQualification]="enregistrementQualification"
                        [showDescription]="true"
                >
                </enregistrement-qualification>
            </div>

            <div class="modal-footer">
                <button (click)="stopAndSaveChrono()" class="btn btn-danger btn-ok">Valider</button>
            </div>
        </div>
    </div>
</div>