.famille-color {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  display: inline-block;
  border-radius: 100%;
}

.glyphicon-remove:hover{
  cursor: pointer;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

ul{
  list-style-type: none;
}