<h2>Liste des familles :</h2>
<ul>
    <li *ngFor="let famille of familles">
        <i class="famille-color" [ngStyle]="{ 'background-color': famille.couleur}"></i>
        <a [routerLink]="['/admin/overview/famille/edit', famille.id]">
            {{ famille.nom }}
        </a>
        <i class="glyphicon glyphicon-remove" (click)=deleteFamille(famille.id) ></i>
        <ul>
            <li *ngFor="let child of famille.children">
                <i class="famille-color" [ngStyle]="{ 'background-color': child.couleur}"></i>
                <a [routerLink]="['/admin/overview/famille/edit', child.id]">
                    {{ child.nom }}
                </a>
                <i class="glyphicon glyphicon-remove" (click)=deleteFamille(child.id) ></i>
            </li>
        </ul>
    </li>
</ul>

<div *ngIf="(familles | json) == '[]'">
    <h3>Aucune famille</h3>
</div>

<form (ngSubmit)="onSubmit()" #familleForm="ngForm">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" [ngModel]="nom" (ngModelChange)="nom=$event" name="nom" required>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!familleForm.form.valid">Créer</button>
</form>