<div class="datepicker">
  <div class="datepicker__header">
    <div class="datepicker__year">
      {{ year }}
    </div>
    <div class="datepicker__date">
      {{ date_formatted }}
    </div>
  </div>
  <div class="datepicker__controls">
    <div class="datepicker__month">{{ month.getFormatted() }}</div>
    <button (click)="nextMonth()" class="datepicker_next">
      <svg  (click)="nextMonth()" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 49.656 49.656" style="enable-background:new 0 0 49.656 49.656;">
        <g>
            <polygon style="fill:#00AD97;" points="14.535,48.242 11.707,45.414 32.292,24.828 11.707,4.242 14.535,1.414 37.949,24.828 	"/>
            <path style="fill:#00AD97;" d="M14.535,49.656l-4.242-4.242l20.585-20.586L10.293,4.242L14.535,0l24.829,24.828L14.535,49.656z
                 M13.121,45.414l1.414,1.414l22-22l-22-22l-1.414,1.414l20.585,20.586L13.121,45.414z"/>
        </g>
        </svg>
    </button>
    <button (click)="prevMonth()" class="datepicker_prev">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
	  viewBox="0 0 49.656 49.656" style="enable-background:new 0 0 49.656 49.656;" >
      <g>
          <polygon style="fill:#00AD97;" points="35.121,1.414 37.949,4.242 17.364,24.828 37.949,45.414 35.121,48.242 11.707,24.828 	"/>
          <path style="fill:#00AD97;" d="M35.122,49.656L10.292,24.828L35.121,0l4.242,4.242L18.778,24.828l20.586,20.586L35.122,49.656z
               M13.121,24.828l22.001,22l1.414-1.414L15.95,24.828L36.535,4.242l-1.414-1.414L13.121,24.828z"/>
      </g>
    </svg>
    </button>
  </div>
  <div class="datepicker__week">
    <div *ngFor="let day of days" class="datepicker__weekday">
      {{ day }}
    </div>
  </div>
  <div class="datepicker__days">
    <div class="datepicker__day" [ngStyle]="{'width' : (month.getWeekStart() * (100/7)+'%') }">

    </div>
    <div *ngFor="let day of dayofMonth" (click)="selectDate(day.jour)" [ngClass]="{'selected': isSelected(day.jour), 'valide': day.valide, 'invalide': !day.valide, 'inexistant': day.valide == null }" class="datepicker__day">
      <span class="datepicker__day__effect"></span>
      <span class="datepicker__day__text">{{ day.jour.format('D') }}</span>
    </div>
  </div>
</div>
