<div *ngIf="!json">
    <div *ngFor="let message of messages">
        <div *ngIf="message.json" [ngClass]="{ 'cacher' : message.show === 'notReally', 'supprimer' : message.show === 'no', 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }" class="alert alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message.text.code}} : {{message.text.message}}
            <ul>
                <span *ngFor='let error of message.text.errors'>
                    <span *ngFor='let entry of error | keys '>
                        <li *ngIf="entry.value.errors">
                        {{ entry.key }} : {{ entry.value.errors }}
                        </li>
                    </span>
                </span>

            </ul>
        </div>

        <div *ngIf="!message.json" [ngClass]="{ 'cacher' : message.show === 'notReally', 'supprimer' : message.show === 'no', 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }" class="alert alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message.text}}
        </div>
    </div>
</div>