<h3>Périodes de temps</h3>
<i (click)="showCommentaires = !showCommentaires" [ngClass] = "showCommentaires ? 'glyphicon glyphicon-eye-close' : 'glyphicon glyphicon-eye-open'"></i>
<div *ngFor="let periodeTemps of periodesTemps">
    <div *ngIf="periodeTemps.type=='Enregistrement'">
        <table-row-enregistrement
                [enregistrement]="periodeTemps"
                [showCommentaire]="showCommentaires"
        ></table-row-enregistrement>
    </div>

    <div *ngIf="periodeTemps.type=='PeriodeOff'">
        <table-row-periode-off [enregistrement]="periodeTemps"
        ></table-row-periode-off>
    </div>
</div>