<div class="row" [ngClass]="{ 'disableClick' : disable }">
    <div class="col-sm-12 title">
        Enregistrement qualifié
    </div>
    <div class="col-sm-8">
        <enregistrement-qualification
                [enregistrementQualification]="enregistrementQualification">
        </enregistrement-qualification>
    </div>

    <div class="col-sm-4">
        <enregistrement-buttons (isRecording)="startOrStopEnregistrement($event)"></enregistrement-buttons>
    </div>
</div>