aside select{
  width : 100%;
}

.form-group{
  margin-bottom: 0;
}

.title{
  color: #fff;
  margin-bottom: 10px;
}

.disableClick {
  pointer-events: none;
  cursor: default;

  .title {
    color: initial;
  }

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent repeating-linear-gradient(135deg, rgba(150,150,150,0.9), rgba(150,150,150,0.9) 10px, #fff 10px, rgba(255, 255, 255, 0.7) 20px) repeat scroll 0% 0%;
  }
}