<div class="row">
  <div class="col-sm-12">
    <h3>Bilan de {{ utilisateur.prenom }} {{ utilisateur.nom }} du {{ jourDebut?.format('DD-MM-YYYY') }} au {{ jourFin?.format('DD-MM-YYYY') }}</h3>
    <app-table [table]="table" [showTotal]="false"></app-table>
  </div>
</div>