<div class="row">
    <div class="col-sm-12">
        <h2>Liste des sujets que j'ai créé :</h2>

        <div class="row">
            <div class="col-sm-11">
                <div class="input-group input-group-lg">
                    <input [(ngModel)]="nom" type="text" class="form-control" placeholder="Filtrer par nom, description">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" (click)="loadSujets()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-default" (click)="showSettings= !showSettings">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-sm-12" [hidden]="!showSettings">
                <div class="form-group">
                    <input id = "publique" [(ngModel)]="publique" type="radio" name="publique" [value]="true">
                    <label for="publique">Public</label>

                    <input id="restreint" [(ngModel)]="publique" type="radio" name="publique" [value]="false">
                    <label for="restreint">Restreint</label>

                    <input id="null" [(ngModel)]="publique" type="radio" name="publique" [value]="null">
                    <label for="null">Tous</label>
                </div>

                <div class="form-group">
                    <select [(ngModel)]="familleSelected" class="form-control" id="famille">
                        <option value="null">Choix famille</option>
                        <ng-container *ngFor="let famille of familles">
                            <option value="{{ famille.id }}" class="optionGroup">{{ famille.nom }}</option>
                            <option *ngFor="let child of famille.children" value="{{ child.id }}" class="optionChild">{{ child.nom }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>

        <div class="sujet" *ngFor="let sujet of sujets" style="display: flex; flex-wrap: wrap;">
            <div [ngStyle]="{ 'background-color': sujet.famille.couleur}" class="famille" data-toggle="tooltip" data-placement="top" title="{{ sujet.famille.nom }}"></div>

            <a [routerLink]="['/projects/edit/project', sujet.id]">
                <i [ngClass] = "sujet.ouvert==true ? 'green' : 'red'"></i>
                <i *ngIf="sujet.publique; else restriction" class="fa fa-unlock-alt fa-lg"></i>
                <ng-template #restriction>
                    <i  class="fa fa-lock fa-lg"></i>
                </ng-template>
                <p><b>{{ sujet.nom }}</b></p>
                {{ sujet.description }}
            </a>
        </div>

        <div *ngIf="(sujets | json) == '[]'">
            <h3>Aucun sujet</h3>
        </div>
    </div>
    <div class="col-sm-12" style="margin-top: 10px">
        <p>L'import de sujets est possible à condition de respecter un format csv spécifique. Ci-dessous un exemple pour vous aider</p>
        <pre>nom,description,
Ctime, Serveur et interface,
Espace pro, Espace pro des utilisateurs</pre>
        <form>
            <div class="form-group">
                <label for="inputFile">Importer des sujets (csv)</label>
                <input id="inputFile" type="file" (change)="onChange($event.target)"/>
            </div>
        </form>
    </div>
</div>
