.sujet{
  margin: 5px 0;
}

.sujet .famille{
  display: inline-block;
  width:1%;
  cursor: pointer;
}

.sujet a{
  display: inline-block;
  width:98%;
  padding:20px;
  background-color: #ddd;
  color:inherit;
}

.green::before, .red::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 2px;
  display: inline-block;
  border-radius: 100%;
  float: right;
}

.green::before{
  background-color: green;
}

.red::before{
  background-color: red;
}

.fa{
  float: right;
  margin-right:10px;
}