<chart [options]="opt" (load)="saveChart($event.context)"></chart>

<div class="form-group">
    <label for="sel1">Type de graphique:</label>
    <select (change)="changeType($event.target.value)" class="form-control" id="sel1">
        <option value="">Choix du graphique</option>
        <option value="area">Area</option>
        <option value="areaspline">AreaSpline</option>
        <option value="line">Line</option>
        <option value="spline">SpLine</option>
        <option value="bar">Bar</option>
    </select>
</div>