<div class="row">
    <div class="col-sm-3">
        <div (click)="afficherChangementTypeTravail()" class="typeTravail">
            {{ enregistrement.data.sujet.nom }} <br />
            {{ enregistrement.data.typeTravail.nom }}
        </div>

        <text-editable *ngIf="showCommentaire"
                       [value]="enregistrement.data.description"
                       [textStyle]="commentaireStyle"
                       [placeholder]="'Votre commentaire...'"
                       (valueChange)="changeCommentaire($event)"
        >
        </text-editable>

        <div *ngIf="changerTypeTravail" (clickOutside)="quitterChangementTypeTravail()" class="editTypeTravail">
            <form (ngSubmit)="enregistrer()" [ngClass]="{ 'disableClick' : !sharedService.enregistrementFroidPossible }">
                <div class="form-group">
                    <label for="sujet">Sujet :</label>
                    <select
                            [ngModel]="sujetSelected"
                            [ngModelOptions]="{standalone: true}"
                            id="sujet"
                            (change)="onChangeSujet($event.target.value)"
                            class="form-control"
                            data-show-subtext="true"
                            data-live-search="true"
                    >
                        <option *ngFor="let sujet of enregistrementFroidStoreService.sujets" [value]="sujet.id">
                            {{ sujet.nom }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="typeTravail">Type de travail :</label>
                    <select [ngModel]="typeTravailSelected" id="typeTravail" (change)="onChangeTypeTravail($event.target.value)" class="form-control" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let typeTravailSelection of typeTravailsSelection" [value]="typeTravailSelection.id">
                            {{ typeTravailSelection.typeTravail.nom }}
                        </option>
                    </select>
                </div>

                <button class="btn btn-default" type="submit" >Modifier</button>
            </form>
        </div>
    </div>

    <div class="col-sm-5">
        <tag-input
                [onlyFromAutocomplete]="true"
                [ngModel]="enregistrement.data.tagsPersonnel"
                [identifyBy]="'id'"
                [displayBy]="'nom'"
                (onRemove)="removeTag($event)"
                (onAdd)="addTag($event)"
        >
            <tag-input-dropdown
                    [autocompleteItems]="enregistrementFroidStoreService.tagsPersonnels"
                    [identifyBy]="'id'"
                    [displayBy]="'name'"
            ></tag-input-dropdown>
        </tag-input>
    </div>

    <div class="col-sm-3">
        <text-editable
                [value]="heureDebut"
                (valueChange)="changeDebutEnregistrement($event)"
        >
        </text-editable> -
        <text-editable
                [value]="heureFin"
                (valueChange)="changeFinEnregistrement($event)"
        >
        </text-editable>
        <text-editable
                [value]="enregistrement.data.duree | secondsFormat"
                (valueChange)="changeDureeEnregistrement($event)"
                [textStyle]="dureeStyle"
        >
        </text-editable>
    </div>
    <div class="col-sm-1">
        <i class="fa fa-trash" aria-hidden="true" (click)="showDelete=true"></i>
    </div>
</div>


<div *ngIf="showDelete" class="modal show" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button (click)="showDelete=false" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Supression de l'enregistrement</h4>
            </div>

            <div class="modal-body">
                <p>Voulez-vous vraiment supprimer cet enregistrement ?</p>
            </div>

            <div class="modal-footer">
                <button (click)="showDelete=false" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button (click)="delete()" class="btn btn-danger btn-ok">Supprimer</button>
            </div>
        </div>
    </div>
</div>