<h2>Modification de l'utilisateur</h2>

<div class="row">
  <div class="col-sm-12">
    <button (click)="delete()" class="btn btn-default pull-right">Supprimer definitivement cet utilisateur</button>
  </div>

  <div class="col-sm-12">
    <form (ngSubmit)="onSubmit()" #utilisateurForm="ngForm">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" [ngModel]="model?.nom" (ngModelChange)="model.nom=$event" name="nom" required>
      </div>
      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="text" class="form-control" id="prenom" [ngModel]="model?.prenom" (ngModelChange)="model.prenom=$event" name="prenom" required>
      </div>
      <div class="form-group">
        <label for="prenom">Identifiant</label>
        <input type="text" class="form-control" id="identifiant" [ngModel]="model?.identifiant" (ngModelChange)="model.identifiant=$event" name="identifiant" required>
      </div>
      <div class="form-group">
        <label for="prenom">Email</label>
        <input type="email" class="form-control" id="email" [ngModel]="model?.email" (ngModelChange)="model.email=$event"  name="email" required>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!utilisateurForm.form.valid">Modifier</button>
    </form>
  </div>
</div>