<div class="col-sm-8">
  Horaires :
  <text-editable
          [value]="jourInstance?.debutAM"
          (valueChange)="jourInstance.debutAM=$event;changeHoraireJour()">
  </text-editable>-
  <text-editable
          [value]="jourInstance?.finAM"
          (valueChange)="jourInstance.finAM=$event;changeHoraireJour()">
  </text-editable>
  <text-editable
          [value]="jourInstance?.debutPM"
          (valueChange)="jourInstance.debutPM=$event;changeHoraireJour()">
  </text-editable>-
  <text-editable
          [value]="jourInstance?.finPM"
          (valueChange)="jourInstance.finPM=$event;changeHoraireJour()">
  </text-editable>
  <p *ngIf="totalTimeJourInstance > totalTimeEnregistrements; else trop_temps">
    Il manque <span style="color: red">{{(totalTimeJourInstance - totalTimeEnregistrements) | secondsFormat }} </span> d'enregistrement.
  </p>
  <ng-template #trop_temps>
    <p *ngIf="totalTimeJourInstance < totalTimeEnregistrements; else equal_temps">
      Vous avez {{ (totalTimeJourInstance - totalTimeEnregistrements) | secondsFormat }} d'enregistrement en trop.
    </p>
  </ng-template>
  <ng-template #equal_temps>
    <p>Total des temps OK</p>
  </ng-template>
</div>