<div class="container">
  <div class="row vertical-center">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          404 Page non trouvée</h2>
        <div class="error-details">
          La page que vous cherchez n'existe pas (ou plus).
        </div>
        <div class="error-actions">
          <a [routerLink]="['/dashboard']" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
            Revenir à l'accueil </a>
        </div>
      </div>
    </div>
  </div>
</div>
