<h1>Famille</h1>

<form (ngSubmit)="onSubmit()" #projetForm="ngForm">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" [ngModel]="model?.nom" (ngModelChange)="model.nom=$event" name="nom" required>
    </div>
    <div class="form-group">
        <label for="couleur">Couleur</label>
        <input id="couleur" [colorPicker]="model?.couleur" (colorPickerChange)="model.couleur=$event" [style.background]="model?.couleur" [value]="model?.couleur"/>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!projetForm.form.valid">Modifier</button>
</form>


<div *ngIf="(model?.children | json) != '[]'">
    Familles appartenant à cette famille :
    <ul>
        <li *ngFor="let child of model?.children">
            <a [routerLink]="['/admin/overview/famille/edit', child.id]">
                {{ child.nom }}
            </a>
            <i class="glyphicon glyphicons-remove" (click)=deleteFamille(child.id) ></i>
        </li>
    </ul>
</div>
<div style="margin-top: 10px">
    Ajouter une sous-famille
    <form (ngSubmit)="addFamille()" #familleForm="ngForm">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nomFamille" [ngModel]="nom" (ngModelChange)="nom=$event" name="nom" required>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!familleForm.form.valid">Créer</button>
    </form>
</div>
