<div class="datepicker_container form-group">
    <input type="date" class="form-control" [ngModel]="dateFormatted" name="{{ name }}">
    <datepicker-agenda
            [@enterAnimation]="isVisible"
            [date]="date"
            (change)="dateChange($event)"
    ></datepicker-agenda>
</div>