<h2>Droits de menu du groupe "{{ groupeModele?.nom }}"</h2>

<ul>
  <li *ngFor="let droitPossible of droitsPossible">
    {{ droitPossible.nom }}
    <input  type="checkbox" name="status" [(ngModel)]="droitPossible.selected" (change)="changeDroit(droitPossible)"  [value]="droitPossible.id">
  </li>
</ul>