<div [hidden]="!show">
    <div class="row">
        <div class="col-sm-12">
            <div *ngIf="famille?.sujets">
                <h3>
                    Plus de details sur le sujet
                    <select [(ngModel)]="selectedSujet" (change)="onChangeSujet()" class="form-control form-inline">
                        <option *ngFor="let sujet of famille.sujets" [ngValue]="sujet">
                            {{ sujet.nom }}
                        </option>
                    </select>
                </h3>
            </div>
        </div>

        <div class="col-sm-6">
            <chart [options]="options" (load)="saveChart($event.context)"></chart>
        </div>
        <div class="col-sm-6">
            Temps passé par utilisateur pour chaque type de travail pour le sujet {{ selectedSujet?.nom }}
            <app-table [table]="table" [showTotal]="true"></app-table>
        </div>
        <div class="col-sm-12">
            <choice-chart [opt]="opt"></choice-chart>
        </div>
    </div>

</div>
