<h2>Caractéristiques du type de travail</h2>
<ul>
    <li *ngFor="let caracteristiquePossible of caracteristiquesPossible">
        {{ caracteristiquePossible.nom }}
        <input  type="checkbox" name="status" [checked]="caracteristiquePossible.selected" (change)="changeCaracteristique(caracteristiquePossible)" [value]="caracteristiquePossible.id">
    </li>
</ul>
<div *ngIf="(caracteristiquesPossible | json) == '[]'">
    <h3>Aucune caractéristique</h3>
</div>
