<h2>Liste des tags personnels :</h2>
<ul>
    <li *ngFor="let tag of tags">
        <a [routerLink]="['/options/tagperso/edit', tag.id]">
            {{ tag.nom }}
        </a>
        <i class="glyphicon glyphicon-remove" (click)=deleteTag(tag.id) ></i>
    </li>
</ul>


<div *ngIf="(tags | json) == '[]'">
    <h3>Aucun tag</h3>
</div>

<form (ngSubmit)="onSubmit()" #tagForm="ngForm">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" [ngModel]="nom" (ngModelChange)="nom=$event" name="nom" required>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!tagForm.form.valid">Créer</button>
</form>