<h2>Modification du mot de passe</h2>
<form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" id="password" [ngModel]="model?.password" (ngModelChange)="model.password=$event" name="password" required>
  </div>
  <div class="form-group">
    <label for="passwordsecure">Confirmer le mot de passe</label>
    <input type="password" class="form-control" id="passwordsecure" [ngModel]="model?.passwordsecure" (ngModelChange)="model.passwordsecure=$event" name="passwordsecure" required>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!correspond() ? true : null ">Changer le mot de passe</button>
</form>