<h2>Type de travail possible : </h2>
<ul>
  <li *ngFor="let typeTravail of typeTravails">
    <a [routerLink]="['/admin/overview/typetravail/edit', typeTravail.id]">
      {{ typeTravail.nom }}
    </a>
    <i class="glyphicon glyphicon-remove" (click)=deleteTypeTravail(typeTravail.id) ></i>
  </li>
</ul>

<div *ngIf="(typeTravails | json) == '[]'">
  <h3>Aucun type de travail</h3>
</div>

<form (ngSubmit)="addTypeTravail()" #typetravailForm="ngForm">
  <div class="form-group">
    <label for="typetravail">Type travail</label>
    <input type="text" class="form-control" id="typetravail" [ngModel]="typetravail" (ngModelChange)="typetravail=$event" name="typetravail" required>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!typetravailForm.form.valid">Créer</button>
</form>