<div class="row">
    <div class="col-sm-12">
        <h1>Rapport superviseur</h1>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
        <h2>Date de début</h2>
        <datepicker
                [value]="jourDebut.format('L')"
                [format]="'DD/MM/YYYY'"
                [name]="'day'"
                (change)="changeDebut($event)"
        ></datepicker>
    </div>
    <div class="col-sm-4">
        <h2>Date de fin</h2>
        <datepicker
                [value]="jourFin.format('L')"
                [format]="'DD/MM/YYYY'"
                [name]="'day'"
                (change)="changeFin($event)"
        ></datepicker>
    </div>

    <div class="col-sm-12">
        <app-navbar [links]="links" ></app-navbar>
        <router-outlet></router-outlet>
    </div>
</div>