<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <select
                    (change)="onChangeSujet($event.target.value)"
                    class="form-control selectpicker"
                    data-show-subtext="true"
                    data-live-search="true"
            >
                <optgroup *ngFor="let optSujet of sujets" label="{{optSujet.nom}}">
                    <option *ngFor="let sujet of optSujet.values" [value]="sujet.id">
                        {{ sujet.nom }}
                    </option>
                </optgroup>
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group">
            <select
                    (change)="onChangeTypeTravail($event.target.value)"
                    class="form-control"
            >
                <option *ngFor="let typeTravailSelection of typeTravails" [value]="typeTravailSelection.id">
                    {{ typeTravailSelection.typeTravail.nom }}
                </option>
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <ss-multiselect-dropdown
                [options]="tagsPersonnels"
                [settings]="settings"
                [(ngModel)]="tagsSelected"
                (ngModelChange)="onChange($event)"
        ></ss-multiselect-dropdown>
    </div>

    <div class="col-sm-12" *ngIf="showDescription">
        <div class="form-group">
            <textarea (change)="onChangeTextarea($event.target.value)" class="form-control" id="description" placeholder="Description (facultatif)"></textarea>
        </div>
    </div>
</div>