<h2>Liste des motifs de non travail :</h2>
<ul>
  <li *ngFor="let motif of motifs">
    <a [routerLink]="['/admin/overview/motif/edit', motif.id]">
      {{ motif.nom }}
    </a>

    <i class="glyphicon glyphicon-remove" (click)=deleteMotif(motif.id) ></i>
  </li>
</ul>

<div *ngIf="(motifs | json) == '[]'">
  <h3>Aucun motif</h3>
</div>

<form (ngSubmit)="onSubmit()" #motifForm="ngForm">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" [ngModel]="nom" (ngModelChange)="nom=$event" name="nom" required>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!motifForm.form.valid">Créer</button>
</form>