<p *ngIf="active==false; else changeValue" (click)="active=true" [ngStyle]="textStyle">{{ value }}</p>
<ng-template #changeValue>
  <input type="text" (clickOutside)="quitterInput()" [ngModel]="value" (ngModelChange)="value=$event" placeholder="{{placeholder}}">
</ng-template>