<div style="overflow: auto;" *ngIf="!reverseDisplay; else otherDisplay">
    <table class="table">
        <thead>
        <tr>
            <th><i class="fa fa-exchange" aria-hidden="true" (click)="reverseDisplay=!reverseDisplay"></i></th>
            <th *ngFor="let header of table.headers">{{ header | replaceCaracBySpace }}</th>
            <th *ngIf="showTotal">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of table.rows; let i =index" [ngClass]="{'bold': row.isImportant}">
            <td>{{ row.name }}</td>
            <td *ngFor="let cell of row.cells">{{ formatTime(cell, format) }}</td>
            <td *ngIf="showTotal">{{ formatTime(table.getTotalHorizontal()[i], format) }}</td>
        </tr>
        <tr *ngIf="showTotal">
            <td>Total</td>
            <td *ngFor="let total of table.getTotalVertical()">{{ formatTime(total, format) }}</td>
            <td>{{ formatTime(table.getTotal(), format) }}</td>
        </tr>
        </tbody>
    </table>
</div>

<ng-template #otherDisplay>
    <div style="overflow: auto;">
        <table class="table">
            <thead>
            <tr>
                <th><i class="fa fa-exchange" aria-hidden="true" (click)="reverseDisplay=!reverseDisplay"></i></th>
                <ng-container *ngFor="let row of table.rows">
                    <th>{{ row.name }}</th>
                </ng-container>
                <th *ngIf="showTotal">Total</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let header of table.headers; let i =index">
                <td>{{ header }}</td>
                <ng-container *ngFor="let row of table.rows">
                    <td>{{ formatTime(row.cells[i], format) }}</td>
                </ng-container>
                <ng-container *ngIf="showTotal">
                    <td>{{ formatTime(table.getTotalVertical()[i], format) }}</td>
                </ng-container>
            </tr>
            <tr *ngIf="showTotal">
                <td>Total</td>
                <td *ngFor="let cell of table.rows; let i =index"></td>
                <td>{{ formatTime(table.getTotal(), format) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<button (click)="downloadCSV()" class="btn btn-default">Exporter CSV</button>