<h2>Liste des groupes :</h2>
<ul>
  <li *ngFor="let groupe of groupes">
    {{ groupe.nom}}
    <button class="btn btn-info" [routerLink]="['/admin/overview/groupe/edit', groupe.id]">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
    <!-- <button class="btn btn-danger" (click)="deleteGroupe(groupe.id)">
      <span class="glyphicon glyphicon-remove"></span>
      </button>
     -->
  </li>
</ul>