<report-superviseur-caracteristique [debut]="jourDebut" [fin]="jourFin"></report-superviseur-caracteristique>
<famille-repartition-chart [debut]="jourDebut" [fin]="jourFin"></famille-repartition-chart>