<div class="timer">
    <span *ngIf="timer.heures">{{timer.heures}} heures</span>
    <span *ngIf="timer.minutes">{{timer.minutes}} min</span>
    <span *ngIf="timer.secondes">{{timer.secondes}} sec</span>
</div>