<aside>
    <div class="wrapper">
        <div class="row ">

            <div class="col-sm-11" [hidden]="!enregistrementChaud">
                <div class="row">
                    <div class="col-sm-6">
                        <projects-create-enregistrement-qualifie [timer]="timer" [disable]="disableQualifie" (isRecording)="disableQualifiable =!disableQualifiable"></projects-create-enregistrement-qualifie>
                    </div>
                    <div class="col-sm-3">
                        <projects-create-enregistrement-qualifiable
                                [timer]="timer"
                                [disable]="disableQualifiable"
                                [allowPlay]="allowPlayQualifiable"
                                [allowStop]="allowStopQualifiable"
                                (isRecording)="disableQualifie =!disableQualifie" >
                        </projects-create-enregistrement-qualifiable>
                    </div>
                    <div class="col-sm-3 text-right">
                        <enregistrement-timer [timer]="timer"></enregistrement-timer>
                    </div>
                </div>
            </div>

            <div class="col-sm-11" [hidden]="enregistrementChaud">
                <projects-create-enregistrement-indirect></projects-create-enregistrement-indirect>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-default" (click)="enregistrementChaud=true" style="margin-bottom: 10px;display: block;"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                <button class="btn btn-default" (click)="enregistrementChaud=false"><i class="fa fa-list" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>

    <div *ngIf="(enregistrementExistant | json) != '[]'">
        <div *ngIf="enregistrementExistant" class="modal show" id="confirm-enregistrement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Enregistrement non terminé</h4>
                    </div>

                    <div *ngIf="enregistrementExistantOnSameDate;else enregistrementSurPlusieursDates">
                        <div class="modal-body">
                            <p>Un début d'enregistrement a débuté le {{ enregistrementExistant.heureDebut * 1000 | date:"dd/MM/yyyy" }} à {{ enregistrementExistant.heureDebut * 1000 | date:"HH:mma"}}</p>
                            <p>Voulez-vous le supprimer ou continuer ?</p>
                        </div>

                        <div class="modal-footer">
                            <button (click)="hideConfirmEnregistrement()" class="btn btn-default">Supprimer</button>
                            <button (click)="continueEnregistrement()" class="btn btn-danger btn-ok">Continuer</button>
                        </div>
                    </div>

                    <ng-template #enregistrementSurPlusieursDates>
                        <div class="modal-body">
                            <p>Un début d'enregistrement a débuté le {{ enregistrementExistant.heureDebut * 1000 | date:"dd/MM/yyyy" }} à {{ enregistrementExistant.heureDebut * 1000 | date:"HH:mma"}}</p>
                            <p>Vous pouvez le supprimer ou enregistrer une heure de fin.</p>

                            <p>Merci de préciser le type d'enregistrement effectué</p>
                            <enregistrement-qualification
                                    [enregistrementQualification]="enregistrementQualification">
                            </enregistrement-qualification>
                        </div>

                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button (click)="hideConfirmEnregistrement()" class="btn btn-default">Supprimer</button>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input  [(ngModel)]="heure" type="text" class="form-control" placeholder="HH:mm">
                                        <span class="input-group-btn">
                                            <button (click)="saveEnregistrementWithEndHour()" class="btn btn-danger btn-ok" type="button">Valider</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>

</aside>
