<div class="row">
    <div class="col-sm-4">
        <div class="title">Qualification</div>
        <enregistrement-qualification
                [enregistrementQualification]="enregistrementQualification">
        </enregistrement-qualification>
    </div>
    <div class="form-group col-sm-3">
        <label class="title" for="description">Description (facultatif)</label>
        <textarea (change)="onChangeTextarea($event.target.value)" class="form-control" id="description"></textarea>
    </div>

    <div class="col-sm-4">
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="title" for="debEnr">Heure de début</label>
                <input type="time" placeholder="XX:XX" class="form-control" id="debEnr" name="debEnr"
                       [ngModel]="heureDeb" (ngModelChange)="heureDeb=$event" required>
            </div>

            <div class="form-group col-sm-6">
                <label class="title" for="finEnr">Heure de fin</label>
                <input type="time" placeholder="XX:XX" class="form-control" id="finEnr"  name="finEnr"
                       [ngModel]="heureFin" (ngModelChange)="heureFin=$event"required>
            </div>

            <div class="col-sm-12">
                <nouislider [config]="someTimeConfig" [(ngModel)]="duree"></nouislider>
            </div>
        </div>

    </div>
    <div class="col-sm-1">
        <button class="btn btn-default" (click)="enregistrer()">
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
    </div>

</div>