<h1>Mes sujets</h1>
<app-navbar [links]="links" style="display: inline-block;"></app-navbar>
<a [routerLink]="['/projects/create/project']" class="btn btn-default">Créer un sujet</a>
<router-outlet></router-outlet>