<h1>Sujet</h1>
<form (ngSubmit)="onSubmit()" #projetForm="ngForm">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" [ngModel]="model?.nom" (ngModelChange)="model.nom=$event" name="nom" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [ngModel]="model?.description" (ngModelChange)="model.description=$event" name="description" required>
    </div>
    <div class="form-group">
        <label for="famille">Famille</label>
        <select (change)="onChangeFamille($event.target.value)" class="form-control" id="famille">
            <ng-container *ngFor="let famille of familles">
                <option value="{{ famille.id }}" class="optionGroup">{{ famille.nom }}</option>
                <option *ngFor="let child of famille.children" value="{{ child.id }}" class="optionChild">{{ child.nom }}</option>
            </ng-container>
        </select>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!projetForm.form.valid">Créer</button>
</form>