<div class="row">
    <div class="col-sm-12">
        <h2>{{ date_formatted }}</h2>
    </div>
    <div *ngIf="jourInstance" class="col-sm-6">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="debAM">Heure arrivée</label>
                <input oninvalid="setCustomValidity('Rentrez une heure au format HH:mm')" type="time" class="form-control" id="debAM" [ngModel]="jourInstance?.debutAM" (ngModelChange)="jourInstance.debutAM=$event" name="debAM" >
            </div>
            <div class="form-group">
                <label for="finAM">Heure pause midi</label>
                <input oninvalid="setCustomValidity('Rentrez une heure au format HH:mm')" type="time" class="form-control" id="finAM" [ngModel]="jourInstance?.finAM" (ngModelChange)="jourInstance.finAM=$event" name="finAM" >
            </div>
            <div class="form-group">
                <label for="debPM">Heure reprise midi</label>
                <input oninvalid="setCustomValidity('Rentrez une heure au format HH:mm')" type="time" class="form-control" id="debPM" [ngModel]="jourInstance?.debutPM" (ngModelChange)="jourInstance.debutPM=$event" name="debPM" >
            </div>
            <div class="form-group">
                <label for="finPM">Heure fin</label>
                <input oninvalid="setCustomValidity('Rentrez une heure au format HH:mm')" type="time" class="form-control" id="finPM" [ngModel]="jourInstance?.finPM" (ngModelChange)="jourInstance.finPM=$event"  name="finPM" >
            </div>
            <button type="submit" class="btn btn-default" >Valider</button>
        </form>
    </div>
    <div class="col-sm-6">
        <form class="form-inline" (ngSubmit)="choisirMotif()">
            <div class="form-group">
                <label for="motif">Je suis en </label>
                <select id="motif" (change)="onChangeMotif($event.target.value)" class="form-control">
                    <option value="" disabled selected hidden>Choisir le motif</option>
                    <option *ngFor="let motif of motifs | async" value="{{motif.id}}">
                        {{ motif.nom }}
                    </option>
                </select>
            </div>
            <button class="btn btn-default" type="submit" >Valider</button>
        </form>
    </div>
</div>