<button (click)=deleteProjet(sujet?.id) class="btn btn-default pull-right">Supprimer définitivement ce projet</button>
<h1>Nom : {{ sujet?.nom }}</h1>
<p>Description : {{ sujet?.description }}</p>

<div *ngIf="sujet?.ouvert;else status_close">Status : Ouvert</div>
<ng-template #status_close>Status : Fermé</ng-template>

<div *ngIf="sujet?.publique;else restriction">Accès : Public</div>
<ng-template #restriction>Accès : Restreint</ng-template>

<p>Famille : {{ sujet?.famille.nom }}</p>

<button [routerLink]="['/projects/edit/projectinfos', idSujet]" class="btn btn-default">Modifier ces informations</button>

<h2>Type de travail disponible à l'enregistrement :</h2>
<ul>
    <li *ngFor="let typeTravailPossible of typeTravailsPossible">
        <a  *ngIf="typeTravailPossible.selected; else no_selected" [routerLink]="['/projects/edit/typetravailpossible', typeTravailPossible.typeTravailSelectionID]">
            {{ typeTravailPossible.nom }}
        </a>
        <ng-template #no_selected>{{ typeTravailPossible.nom }}</ng-template>
        <input type="checkbox" name="status" [checked]="typeTravailPossible.selected" [value]="typeTravailPossible.id" (click)="changeTypeTravail($event.target)">
    </li>
</ul>

<h2>Utilisateur inscrits au projet : </h2>
<ul>
    <li *ngFor="let utilisateur of utilisateurs">
        <a [routerLink]="['/dashboard']">
            <b>@</b>{{ utilisateur.identifiant }}
        </a>
        <i class="glyphicon glyphicon-remove" (click)=deleteUser(utilisateur.id) ></i>
    </li>
</ul>

<div *ngIf="(utilisateurs | json) == '[]'">
    <h3>Aucun utilisateur inscrit</h3>
</div>

<select class="form-control" #selectedUser>
    <option [value]="utilisateur.id" *ngFor="let utilisateur of utilisateursPossible">@{{ utilisateur.identifiant }} {{ utilisateur.prenom }} {{ utilisateur.nom }}</option>
</select>
<button (click)="addUser(selectedUser.value)" class="btn btn-default">Inscrire cet utilisateur</button>