<div class="row">
    <div class="col-sm-12">
        <h1>Mes paramètres</h1>
        <a [routerLink]="['/options/import']" class="btn btn-primary">Importer des enregistrements</a>
        <app-navbar [links]="links" ></app-navbar>
        <router-outlet></router-outlet>
    </div>
</div>