<h1>Sujet</h1>
<form (ngSubmit)="onSubmit()" #projetForm="ngForm">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" [ngModel]="model?.nom" (ngModelChange)="model.nom=$event" name="nom" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [ngModel]="model?.description" (ngModelChange)="model.description=$event" name="description" required>
    </div>

    <div class="form-group">
        <label>Status</label>
        <input id = "ouvert" [(ngModel)]="model.ouvert" type="radio" name="status" [value]="true">
        <label for="ouvert">Ouvert</label>

        <input id="fermer" [(ngModel)]="model.ouvert" type="radio" name="status" [value]="false">
        <label for="fermer">Fermé</label>
    </div>

    <div class="form-group">
        <label>Accès</label>
        <input id = "publique" [(ngModel)]="model.publique" type="radio" name="publique" [value]="true">
        <label for="publique">Public</label>

        <input id="restreint" [(ngModel)]="model.publique" type="radio" name="publique" [value]="false">
        <label for="restreint">Restreint</label>
    </div>

    <div class="form-group">
        <label for="famille">Famille : {{ model.famille?.nom }}</label>
        <select [(ngModel)]="model.famille" class="form-control" id="famille" [ngModelOptions]="{standalone: true}">
            <ng-container *ngFor="let famille of familles">
                <option value="{{ famille.id }}" class="optionGroup">{{ famille.nom }}</option>
                <option *ngFor="let child of famille.children" value="{{ child.id }}" class="optionChild">{{ child.nom }}</option>
            </ng-container>
        </select>
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!projetForm.form.valid">Modifier</button>
</form>