<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        <h2>Date de début</h2>
        <datepicker
                [value]="jourDebut.format('L')"
                [format]="'DD/MM/YYYY'"
                [name]="'day'"
                (change)="changeDebut($event)"
        ></datepicker>
    </div>
    <div class="col-sm-4">
        <h2>Date de fin</h2>
        <datepicker
                [value]="jourFin.format('L')"
                [format]="'DD/MM/YYYY'"
                [name]="'day'"
                (change)="changeFin($event)"
        ></datepicker>
    </div>
    <div class="col-sm-12">
        <report-superviseur-specifique-bilan-utilisateur [utilisateur]="utilisateur"></report-superviseur-specifique-bilan-utilisateur>
    </div>
    <div class="col-sm-12">
        <h3>Répartition des tags personnels</h3>
    </div>
    <div class="col-sm-6">
        <tag-personnel-repartition-chart [debut]="jourDebut" [fin]="jourFin"></tag-personnel-repartition-chart>
    </div>
    <div class="col-sm-6">
        <tag-personnel-sujet-repartition-chart [debut]="jourDebut" [fin]="jourFin"></tag-personnel-sujet-repartition-chart>
    </div>
</div>