<sujet-repartition-chart [debut]="jourDebut" [fin]="jourFin" (onFamilleChange)="familleChange($event)"></sujet-repartition-chart>
<type-travail-sujet-repartition-chart [famille]="familleSelected" [debut]="jourDebut" [fin]="jourFin"></type-travail-sujet-repartition-chart>

<div>
    Bilan de
    <select [(ngModel)]="utilisateurSelected" class="form-control form-inline">
        <option *ngFor="let utilisateur of utilisateurs" [ngValue]="utilisateur">
            {{ utilisateur.prenom }} {{ utilisateur.nom}}
        </option>
    </select>
</div>

<report-superviseur-specifique-bilan-utilisateur *ngIf="utilisateurSelected" [utilisateur]="utilisateurSelected"></report-superviseur-specifique-bilan-utilisateur>