<h2>Liste des caractéristiques :</h2>
<ul>
  <li *ngFor="let caracteristique of caracteristiques">
    <a [routerLink]="['/admin/overview/caracteristique/edit', caracteristique.id]">
      {{ caracteristique.nom }}
    </a>
    <i class="glyphicon glyphicon-remove" (click)=deleteCaracteristique(caracteristique.id) ></i>
  </li>
</ul>


<div *ngIf="(caracteristiques | json) == '[]'">
  <h3>Aucune caractéristique</h3>
</div>

<form (ngSubmit)="onSubmit()" #caracForm="ngForm">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" [ngModel]="nom" (ngModelChange)="nom=$event" name="nom" required>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!caracForm.form.valid">Créer</button>
</form>