<router-outlet></router-outlet>
<div *ngFor="let groupe of userGroupes">
    <div *ngIf="groupe == 'Administrateur'">
    </div>
    <div *ngIf="groupe == 'Superviseur'">
        Vue superviseur
    </div>
    <div *ngIf="groupe == 'Executant'">
        <div class="row">
            <div class="col-sm-12">
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-4">
                        <dashboard-datepicker
                                [value]="jour"
                                [format]="'DD/MM/YYYY'"
                                [name]="'day'"
                                (change)="dateChange($event)"
                        ></dashboard-datepicker>
                    </div>
                    <div class="col-sm-6">
                        <a [routerLink]="['/reports/personnel']" class="btn btn-default">Statistiques personnelles</a>
                        <app-dashboard-pie-enregistrement></app-dashboard-pie-enregistrement>
                        <dashboard-horaires></dashboard-horaires>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <dashboard-timeline></dashboard-timeline>
                    </div>
                    <div class="col-sm-8">
                        <dashboard-table></dashboard-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
