<h1>Caractéristique</h1>
<form (ngSubmit)="onSubmit()" #projetForm="ngForm">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" [ngModel]="model?.nom" (ngModelChange)="model.nom=$event" name="nom" required>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!projetForm.form.valid">Modifier</button>
</form>
