<div class="left">
    <label for="show-menu" class="show-menu">Menu</label>
    <input type="checkbox" id="show-menu" role="button">
    <div id="navigation">
        <div class="top">
            <a [routerLink]="['/notifications']" class="reminder">
                <i class="fa fa-bell-o fa-6" aria-hidden="true"></i>
                <div class="notifications" *ngIf="notificationsLength() > 0">{{ notificationsLength() }}</div>
            </a>
            <p class="text-right">{{ horloge.temps| date:'HH:mm' }}</p>
            <p class="text-right">{{ currentUserService.getUser().prenom }} {{ currentUserService.getUser().nom }}</p>
        </div>

        <div class="logo">
            <a [routerLink]="['/dashboard']">
                <img [src]="logoUrl" alt="Logo de Collaborative time">
                <h1>CTime</h1>
                <p>Count your time</p>
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li *ngFor="let link of links" class="post">
                    <app-lien [linkObject]=link></app-lien>
                </li>
            </ul>
        </nav>
        <p class="version">Version {{ version }}</p>
    </div>
</div>