ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.left{

    background: #271f27;
    color: #aaa;

    .logo{
        display: none;
    }

    a {
        text-decoration: none;
        color: #aaa;

        &:active, &:focus{
            outline:none;
            border: 0;
        }
    }

    .top{
        padding: 0 20px;
    }

    .version{
        text-align: center;
        font-size: 10px;
        margin-top:10px;
    }
    .bloc {
        display:block;
        clear:both;
    }

    #show-menu {
        display: none;
    }

    #navigation{
        display: none;
    }

    .show-menu {
        display: block;
        width: auto;
        text-align: center;
        padding: 20px 0;
    }

    #show-menu[type=checkbox]:checked ~ #navigation {
        display: block;
    }

    .reminder {
        display: inline-block;
        position: absolute;
        width: auto;
        height: 30px;

        i{
            font-size: 25px;
        }

        &:hover{
            color: white;
        }
    }

    .notifications {
        background: #d9030d;
        //border: 2px solid #f9f9f9;
        color: black;
        border-radius: 50%;
        height: 20px;
        font-size: 14px;
        left: 60%;
        line-height: 20px;
        //margin: -24px 0 0 -24px;
        position: absolute;
        text-align: center;
        top: -20%;
        width: 20px;
    }
}

@media screen and (min-width: 768px) {

    .left{
        padding: 20px 0;
        width: 15%;
        min-width: 150px;
        height: 100%;
        position: fixed;
        overflow: auto;

        .show-menu {
            display: none;
        }

        .logo{
            text-align: center;
            margin-bottom: 20px;
            display: block;

            img{
                width: 100px;
                height: 100px;
            }
        }

        nav ul li:hover{
            background-color: #443945;
            -webkit-transition: background 0.4s; /* Safari */
            transition: background 0.4s;
        }
    }

    #navigation{
        display: block !important;
    }

    .show-menu {
        display: block;
    }
}
