ul {
  padding: 0;
  list-style-type: none;
  margin-top: 10px;

  li{
    display: inline-block;
    margin: 20px 20px 0 0;
  }
  a{
    display: inline-block;
    width: auto;
    padding-bottom: 5px;


    &:hover{
      border-bottom: 2px solid #a91716;
      text-decoration: none;
    }

    &:active, &:focus
    {
      outline:none;
      text-decoration:none;
    }
  }

  .active{
    border-bottom: 2px solid #a91716;
  }

}