<ul>
  <li *ngFor="let link of links">
    <a *ngIf="link.outlet" [routerLink]="[link.path, link.outlet]" routerLinkActive="active">{{ link.name }}</a>
    <a *ngIf="!link.outlet" [routerLink]="[link.path]" routerLinkActive="active">{{ link.name }}</a>
  </li>
</ul>