<navbar-emitter [links]="links" (onChangeElem)="dayChange($event)"></navbar-emitter>
<router-outlet></router-outlet>
<router-outlet name="configuration"></router-outlet>

<div class="row">
    <div *ngIf="!configurationJour" class="col-sm-12">
        Pas de configuration pour ce jour
        <a class="btn btn-default" (click)="addJourConf()">Je travaille ce jour là</a>
    </div>
    <div *ngIf="configurationJour" class="col-sm-12">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="debAM">Heure arrivée</label>
                <input oninvalid="setCustomValidity('Rentrez une heure au format HH:mm')" type="time" class="form-control" id="debAM" [ngModel]="configurationJour?.debutAM" (ngModelChange)="configurationJour.debutAM=$event" name="debAM" >
            </div>
            <div class="form-group">
                <label for="finAM">Heure pause midi</label>
                <input oninvalid="setCustomValidity('Rentrez une heure au format HH:mm')" type="time" class="form-control" id="finAM" [ngModel]="configurationJour?.finAM" (ngModelChange)="configurationJour.finAM=$event" name="finAM" >
            </div>
            <div class="form-group">
                <label for="debPM">Heure reprise midi</label>
                <input oninvalid="setCustomValidity('Rentrez une heure au format HH:mm')" type="time" class="form-control" id="debPM" [ngModel]="configurationJour?.debutPM" (ngModelChange)="configurationJour.debutPM=$event" name="debPM" >
            </div>
            <div class="form-group">
                <label for="finPM">Heure fin</label>
                <input oninvalid="setCustomValidity('Rentrez une heure au format HH:mm')" type="time" class="form-control" id="finPM" [ngModel]="configurationJour?.finPM" (ngModelChange)="configurationJour.finPM=$event"  name="finPM" >
            </div>
            <button type="submit" class="btn btn-default" >Modifier</button>
            <a class="btn btn-default" (click)="deleteJourConf()">Je ne travaille pas ce jour là</a>
        </form>
    </div>
</div>