<h3>Timeline</h3>
<div class="row">
    <div class="col-sm-4 col-sm-offset-8">
        <button class="btn btn-default" (click)="recoller()">Recoller</button>
    </div>
</div>
<mwl-calendar-day-view
        [locale]="'fr'"
        [viewDate]="viewDate"
        [events]="events"
        [hourSegments]="4"
        [dayStartHour]="dayStartHour" [dayStartMinute]="dayStartMinute"
        [dayEndHour]="dayEndHour" [dayEndMinute]="dayEndMinute"
        [refresh]="refresh"
        [eventSnapSize]="1"
        (eventTimesChanged)="eventTimesChanged($event)"
>
</mwl-calendar-day-view>