.timepicker{
  width:auto;
  box-shadow: 0px 14px 45px rgba(0, 0, 0, 0.25), 0px 10px 18px rgba(0, 0, 0, 0.22);
  background-color: #fff;
}
.timepicker__header{
  background-color: #0097a7;
  color: #fff;
  padding: 20px;
  font-size: 40px;
  line-height: 40px;
}
