<input type="text" class="form-control" [ngModel]="timeFormatted">
<div class="timepicker form-group text-right">
  <div class="timepicker__header">
    23:50
  </div>
  <timepicker-hour
          [date]="date"
  ></timepicker-hour>
</div>