<div *ngIf="sharedNotificationService.notifications.length > 0; else aucuneNotif">
    <div class="switch">
        <span>Afficher les notifications déjà vues</span><ui-switch [(ngModel)]="show" size="small"></ui-switch>
    </div>
    <div class="col-sm-12 notif" *ngFor="let notification of sharedNotificationService.notifications"
         [ngClass]="{ 'show': notification.isActive || show, 'isActive': notification.isActive  }">
        {{ notification.message }}, <i>{{ notification.date | timeAgo}}</i>
        <i *ngIf="notification.isActive"
           class="glyphicon glyphicon-ok"
           (click)=markNotificationAsRead(notification.id)
           data-toggle="tooltip"
           data-placement="left"
           title="Marquer comme lu"
        ></i>
    </div>
</div>

<ng-template #aucuneNotif>
    <div class="col-sm-12 text-center" style="padding: 20px">
        Pas des notifications.
    </div>
</ng-template>