.glyphicon-ok{
  float: right;
}

.glyphicon-ok:hover{
  cursor:pointer;
  transform: scale(1.25);
}

.notif{
  margin: 5px 0;
  display: none;
  padding: 20px;
  background-color: #c9c9c9;
  -moz-box-shadow: 0px 2px 5px 0px #656565;
  -webkit-box-shadow: 0px 2px 5px 0px #656565;
  -o-box-shadow: 0px 2px 5px 0px #656565;
  box-shadow: 0px 2px 5px 0px #656565;
}

.show{
  display: block;
}

.isActive{
  background-color: inherit;
}

.switch{
  display: inline-block;
  float:right;
  padding: 20px;
}