input{
  display: none;
}

.valide{
  background-color: green;
}

.invalide{
  background-color: red;
}

.inexistant{
  background-color: blueviolet;
}

.modifJour{
  position: absolute;
  z-index: 10;
  margin-right: 30px;
  margin-top: 15px;
  right: 0;
  color: #ffffff;
}

.datepicker__caption{
  span{
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
