<div class="datepicker_container form-group">
    <a routerLink="/projects/edit/jourinstance" class="modifJour" >Modification du jour</a>
    <input type="date" class="form-control" [ngModel]="dateFormatted" name="{{ name }}">
    <dashboard-datepicker-agenda
            [@enterAnimation]="isVisible"
            [date]="date"
            (change)="dateChange($event)"
    ></dashboard-datepicker-agenda>
    <div class="datepicker__caption">
        <div><span class="valide"></span>Jour valide</div>
        <div><span class="invalide"></span>Jour invalide</div>
        <div><span class="inexistant"></span>Jour sans enregistrements</div>
    </div>
</div>