<div class="row">
    <div class="col-sm-12">
        <h3>
            Plus de détails pour la famille
            <select [(ngModel)]="selectedFamille" (change)="onChangeFamille()"  class="form-control form-inline">
                <ng-container *ngFor="let famille of familles">
                    <option [ngValue]="famille" class="optionGroup">{{ famille.nom }}</option>
                    <option *ngFor="let child of famille.children" [ngValue]="child" class="optionChild">{{ child.nom }}</option>
                </ng-container>
            </select>
        </h3>
    </div>

    <div class="col-sm-6">
        <div [hidden]="!show">
            <chart [options]="options" (load)="saveChart($event.context)"></chart>
        </div>
        <div *ngIf="!show">
            <h4>Cette famille ne possède aucun sujet</h4>
        </div>
    </div>
    <div class="col-sm-6" [hidden]="!show">
            Temps passé par utilisateur pour chaque type de travail pour la famille {{ selectedFamille?.nom }}
            <app-table [table]="table" [showTotal]="true"></app-table>
    </div>
</div>