<div>
    <p>L'import d'enregistrement est possible à condition de respecter un format csv spécifique. Ci-dessous un exemple pour vous aider</p>
    <pre>SujetCustom,TypeTravailCustom,DureeSeconde,DD,MM,YYYY,Tags,
Espace pro,dev,12500,3,3,2017,,
Espace pro,analyse,54000,3,3,2017,Dev|Debug,
Ctime,dev,12000,31,7,2017,,7</pre>
</div>
<ul>
    <li>MM : 1-12</li>
    <li>DD : 1-31</li>
</ul>
<form>
    <div class="form-group">
        <label for="inputFile">Fichier d'import (csv)</label>
        <input id="inputFile" type="file" (change)="onChange($event.target)"/>
    </div>
</form>

<div [hidden]="!show">
    <form (ngSubmit)="validate()" #enregistrementForm="ngForm">
        <div class="form-group">
            <label for="heureFinAuto">Heure fin automatique</label>
            <input id="heureFinAuto" [(ngModel)]="heureFinAuto" type="checkbox" name="auto"/>
        </div>

        <div *ngFor='let sujetCustom of sujetCustomCollection.collection; let i =index'>
            <div class="form-group">
                <label>{{ sujetCustom.nom }}</label>
                <select required class="form-control" (change)="onSelectSujet($event.target.value, sujetCustom)" [(ngModel)]="sujetCustom.sujetDefined" name="sujet">
                    <option *ngFor='let sujetDefined of sujetDefinedCollection' [ngValue]="sujetDefined">
                        {{ sujetDefined.nom }}
                    </option>
                </select>
            </div>

            <ul>
                <li *ngFor='let typeTravailCustom of sujetCustom.typeTravailCustomCollection; let j =index'>
                    <label>{{ typeTravailCustom.nom }}</label>
                    <select required class="form-control" (change)="onSelectTypeTravail($event.target.value, sujetCustom)" [(ngModel)]="typeTravailCustom.typeTravailSelectionDefined" name="tt-{{ i }}-{{ j }}">
                        <option *ngFor='let typeTravailSelectionDefined of sujetCustom.sujetDefined.typeTravailSelectionDefinedCollection' [ngValue]="typeTravailSelectionDefined">
                            {{ typeTravailSelectionDefined.nom }}
                        </option>
                    </select>
                </li>
            </ul>
        </div>
        <h2>Liste des tags :</h2>
        <ul>
            <li *ngFor='let tagCustom of tagCustomCollection'>
                <label>{{ tagCustom.nom }}</label>
                <select required class="form-control" [(ngModel)]="tagCustom.tagDefined" name="tag">
                    <option *ngFor='let tagDefined of tagDefinedCollection' [ngValue]="tagDefined">
                        {{ tagDefined.nom }}
                    </option>
                </select>
            </li>

        </ul>
        <button type="submit" class="btn btn-default" [disabled]="!enregistrementForm.form.valid" >Valider la correspondance</button>
    </form>


</div>

