.row {
  padding: 10px 0;
  border-bottom: 1px solid grey;
}

.fa-trash, .typeTravail{
  cursor: pointer;
}

.fa-trash:hover{
  transform: scale(1.25);
}

.changerMotif{
  position: absolute;
  background-color: #89828A;
  z-index: 1;
  padding: 20px;
}