<div class="row">
    <div class="col-sm-8">
        <div (click)="afficherChangementMotif()">
            {{ enregistrement.data.motif.nom }}
        </div>

        <div *ngIf="changerMotif" (clickOutside)="quitterChangementMotif()" class="changerMotif">
            <form (ngSubmit)="enregistrer()">
                <div class="form-group">
                    <label for="motif">Motif :</label>
                    <select id="motif"
                            [ngModel]="motifSelected"
                            [ngModelOptions]="{standalone: true}"
                            (change)="onChangeMotif($event.target.value)"
                            class="form-control"
                    >
                        <option value="" disabled selected hidden>Choisir le motif</option>
                        <option *ngFor="let motif of motifs | async" value="{{motif.id}}">
                            {{ motif.nom }}
                        </option>
                    </select>
                </div>

                <button class="btn btn-default" type="submit" >Modifier</button>
            </form>
        </div>
    </div>

    <div class="col-sm-3">
        <text-editable
                [value]="heureDebut"
                (valueChange)="changeDebutEnregistrement($event)"
        >
        </text-editable> -
        <text-editable
                [value]="heureFin"
                (valueChange)="changeFinEnregistrement($event)"
        >
        </text-editable>
        <text-editable
                [value]="enregistrement.data.duree | secondsFormat"
                (valueChange)="changeDureeEnregistrement($event)"
                [textStyle]="dureeStyle"
        >
        </text-editable>
    </div>
    <div class="col-sm-1">
        <i class="fa fa-trash" aria-hidden="true" (click)="showDelete=true"></i>
    </div>
</div>

<div *ngIf="showDelete" class="modal show" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button (click)="showDelete=false" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Supression de l'enregistrement</h4>
            </div>

            <div class="modal-body">
                <p>Voulez-vous vraiment supprimer cet enregistrement ?</p>
            </div>

            <div class="modal-footer">
                <button (click)="showDelete=false" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button (click)="delete()" class="btn btn-danger btn-ok">Supprimer</button>
            </div>
        </div>
    </div>
</div>