<div class="row">
    <div class="col-sm-6">
        <chart [options]="options" (load)="saveChart($event.context)"></chart>
    </div>
    <div class="col-sm-6">
        Temps passé par utilisateur pour chaque type de travail
        <app-table [table]="table" [showTotal]="true"></app-table>
    </div>
</div>